.nav {
	width: 100%;
	background-color: $primary_color;
	opacity: .75;

	&-menu {
		display: inline-block;
		list-style-type: none;

		&-item {
			display: inline-block;
			margin: 25px 10px;
			&__link {
				color: $white;
			}
		}
	}
}